.hourly-weather {
  display: flex ;
  flex-direction: row;
  margin-top: 4rem;
  
  &__item {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    margin-right: 0.5rem;
    cursor: pointer;

    &--selected {
      background-color: $secondary;
      border-radius: 6px;
    }

    &-hour {
      color: $indigo;
      @include fluid-type($phone-width, $xl-width, 28px, 50px);
    }

    &-temp {
      font-weight: bold;
      @include fluid-type($phone-width, $xl-width, 38px, 53px);
    }
    & > svg {
      width: 80px;
    }
  }
  
}