.hourly-weather {
  height: 50vh;
  display: flex;
  flex-direction: row;
  margin-top: 4rem;
  
  &__item {
    display: flex;
    flex-direction: column;
    width: 120px;
    align-items: center;
    margin-right: 0.5rem;

    &--selected {
      background-color: #51557A;
    }

    &-hour {
      color: #A8AABD;
      font-size: 47.78px;
      line-height: 56px;
    }

    &-temp {
      font-weight: bold;
      font-size: 82.556px;
      line-height: 96px;
    }
    & > img {
      width: 80px;
    }
  }
  
}