.weather-info {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 80%;
  grid-row-gap: 0.5rem;
  grid-column-gap: 0.5rem;
  
  &__city {
    color: $indigo;
    font-weight: 400;
    @include fluid-type($phone-width, $desktop-width, 14px, 50px);
    line-height: 56px;
  }

  &__date {
    align-self: center;
    
    &-day {
      display: block;
    }

    &-day, &-month {
      font-weight: 700;
      @include fluid-type($phone-width, $xl-width, 35px, 90px);
      white-space: nowrap;
    }
  }
}